.header{
    display: flex;
    justify-content: space-between;    
}
.header_left{
 display: flex;
}
.header_left_icon{
    width: 40px;
    height: 40px;
}
.header_searchfield{
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
}
.header_searchfield input{
    outline: none;
    border: none;
}
.header_middle {
    display: flex;
    padding: 0 20px;
}
.header_right{
    display: flex;
    justify-content: space-between;
    
}